version: "3.7"
services:
  app:
    build:
      context: .
      target: workspace
    ports:
      - 80:3000
      - 8080:80
      - 12345:12345
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  dummy:
    image: nginx:alpine

  ruby:
    image: ruby:alpine
    command: |
      sh -c "
      ruby <<'EOF'
        require 'webrick'

        server = WEBrick::HTTPServer.new(:BindAddress => '0.0.0.0', :Port => 3000)
        server.mount_proc('/') do |req, res|
          res.body = 'Hello World'
          res.status = 200
        end
        server.start
      EOF
      "
